<mat-expansion-panel expanded="true" class="animate-slide" hideToggle="true">
  <!-- Course details -->
  <mat-expansion-panel-header>
      <mat-panel-title>
        Section data
      </mat-panel-title>
      <mat-panel-description>
        Records for the specific section
        <div class="d-inline-block ml-auto">
            <button class="btn btn-sm btn-dark" (click)="hideSection()">Close</button>
          </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
  <h1>Majid is a bitch</h1>
</mat-expansion-panel>
